## Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial EIN column

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [3]:
# display the number of unique values

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning

#  How many name counts are greater than 5?

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [5]:
# Determine which values to replace if counts are less than or equal to 5.


# Replace in dataframe

    
# Check to make sure binning was successful

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Determine which values to replace if application counts are less than 500


# Replace in dataframe

# Check to make sure binning was successful

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# Determine which values to replace if counts are less than 1000

# Replace in dataframe

    
# Check to make sure binning was successful

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Generate our categorical variable lists

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# perform one-hot encoding on the data

In [12]:
# Split our preprocessed data into our features and target arrays


# Split the preprocessed data into a training and testing dataset

In [13]:
# Create a StandardScaler instances


# Fit the StandardScaler


# Scale the data

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39900

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 43,251
Trainable params: 43,251
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model

In [16]:
# Train the model

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4899 - accuracy: 0.7732
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4415 - accuracy: 0.7929
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4344 - accuracy: 0.7942
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4299 - accuracy: 0.7961
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7975
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4256 - accuracy: 0.7980
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4235 - accuracy: 0.7986
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4225 - accuracy: 0.7979
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7983
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7998
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7993
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.8012
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4184 - accuracy: 0.8000
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4174 - accuracy: 0.8014
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.8017
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.8008
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.8016
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.8024
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4145 - accuracy: 0.8022
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4139 - accuracy: 0.8036
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4131 - accuracy: 0.8033
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4131 - accuracy: 0.8032
Epoch 23/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4127 - accuracy: 0.8041
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4119 - accuracy: 0.8035
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4118 - accuracy: 0.8040
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8038
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8045
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8050
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8043
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4101 - accuracy: 0.8046
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4097 - accuracy: 0.8058
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4096 - accuracy: 0.8051
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4090 - accuracy: 0.8057
Epoch 34/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4087 - accuracy: 0.8054
Epoch 35/100
804/804 [==============================] - 7s 9ms/step - loss: 0.4084 - accuracy: 0.8054
Epoch 36/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4077 - accuracy: 0.8052
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4078 - accuracy: 0.8059
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4078 - accuracy: 0.8057
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4075 - accuracy: 0.8058
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4071 - accuracy: 0.8067
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8064
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4067 - accuracy: 0.8070
Epoch 43/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4062 - accuracy: 0.8064
Epoch 44/100
804/804 [==============================] - 6s 8ms/step - loss: 0.4067 - accuracy: 0.8067
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4059 - accuracy: 0.8073
Epoch 46/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4057 - accuracy: 0.8065
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8057
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8056
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8068
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4053 - accuracy: 0.8069
Epoch 51/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4054 - accuracy: 0.8071
Epoch 52/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4051 - accuracy: 0.8071
Epoch 53/100
804/804 [==============================] - 7s 9ms/step - loss: 0.4046 - accuracy: 0.8070
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4045 - accuracy: 0.8075
Epoch 55/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4039 - accuracy: 0.8081
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8072
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8069
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4040 - accuracy: 0.8069
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4037 - accuracy: 0.8073
Epoch 60/100
804/804 [==============================] - 8s 10ms/step - loss: 0.4038 - accuracy: 0.8068
Epoch 61/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4039 - accuracy: 0.8084
Epoch 62/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4043 - accuracy: 0.8076
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4042 - accuracy: 0.8077
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4037 - accuracy: 0.8075
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4033 - accuracy: 0.8077
Epoch 66/100
804/804 [==============================] - 6s 8ms/step - loss: 0.4034 - accuracy: 0.8083
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4034 - accuracy: 0.8077
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4031 - accuracy: 0.8079
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8077
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8078
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4029 - accuracy: 0.8081
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8079
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4024 - accuracy: 0.8085
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4026 - accuracy: 0.8084
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4021 - accuracy: 0.8085
Epoch 76/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4026 - accuracy: 0.8089
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4022 - accuracy: 0.8080
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8087
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8079
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8079
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8079
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8076
Epoch 83/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4019 - accuracy: 0.8076
Epoch 84/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4018 - accuracy: 0.8080
Epoch 85/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4022 - accuracy: 0.8084
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4017 - accuracy: 0.8084
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8082
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8085
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4013 - accuracy: 0.8093
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4017 - accuracy: 0.8085
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8091
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4017 - accuracy: 0.8081
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4012 - accuracy: 0.8090
Epoch 94/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4011 - accuracy: 0.8082
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4016 - accuracy: 0.8085
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4015 - accuracy: 0.8089
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8086
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8088
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8091
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8090

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4476 - accuracy: 0.7867 - 584ms/epoch - 2ms/step
Loss: 0.44758594036102295, Accuracy: 0.7867055535316467

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [19]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [20]:
# Create a random forest classifier.


# Fitting the model


# Evaluate the model

 Random forest model accuracy: 77.62%